In [1]:
import pandas as pd
import numpy as np

In [2]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [2]:
xl_file = pd.ExcelFile('Dataset.xlsx')

In [4]:
dfs = {sheet_name: xl_file.parse(sheet_name) 
          for sheet_name in xl_file.sheet_names}

In [2]:
customers = pd.read_excel('Dataset.xlsx',
sheetname=0,
header=0,
index_col=False,
keep_default_na=True
)

/anaconda3/lib/python3.6/site-packages/pandas/io/excel.py:329: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  **kwds)

In [3]:
customers.columns

Index(['Month', 'WeekOfMonth', 'DayOfWeek', 'Make', 'AccidentArea',
       'DayOfWeekClaimed', 'MonthClaimed', 'WeekOfMonthClaimed', 'Sex',
       'MaritalStatus', 'Age', 'Fault', 'PolicyType', 'VehicleCategory',
       'VehiclePrice', 'FraudFound_P', 'PolicyNumber', 'RepNumber',
       'Deductible', 'DriverRating', 'Days_Policy_Accident',
       'Days_Policy_Claim', 'PastNumberOfClaims', 'AgeOfVehicle',
       'AgeOfPolicyHolder', 'PoliceReportFiled', 'WitnessPresent', 'AgentType',
       'NumberOfSuppliments', 'AddressChange_Claim', 'NumberOfCars', 'Year',
       'BasePolicy', 'ClaimSize'],
      dtype='object')

In [4]:
customers.head()

,Month,WeekOfMonth,DayOfWeek,Make,AccidentArea,DayOfWeekClaimed,MonthClaimed,WeekOfMonthClaimed,Sex,MaritalStatus,...,AgeOfPolicyHolder,PoliceReportFiled,WitnessPresent,AgentType,NumberOfSuppliments,AddressChange_Claim,NumberOfCars,Year,BasePolicy,ClaimSize
0,Dec,5,Wednesday,Honda,Urban,Tuesday,Jan,1,Female,Single,...,26 to 30,No,No,External,none,1 year,3 to 4,1994,Liability,55526.069421
1,Jan,3,Wednesday,Honda,Urban,Monday,Jan,4,Male,Single,...,31 to 35,Yes,No,External,none,no change,1 vehicle,1994,Collision,59294.455571
2,Oct,5,Friday,Honda,Urban,Thursday,Nov,2,Male,Married,...,41 to 50,No,No,External,none,no change,1 vehicle,1994,Collision,71756.941320
3,Jun,2,Saturday,Toyota,Rural,Friday,Jul,1,Male,Married,...,51 to 65,Yes,No,External,more than 5,no change,1 vehicle,1994,Liability,7584.153493
4,Feb,1,Saturday,Honda,Urban,Monday,Feb,3,Male,Married,...,36 to 40,No,No,External,1 to 2,no change,1 vehicle,1994,Collision,98545.374339

In [5]:
## Price more than 69000
X=customers[customers['VehiclePrice'] =='more than 69000']['FraudFound_P'].values
Fraud=len(np.where(X==1)[0])
NotFraud=len(np.where(X==0)[0])
TotalClaims=len(X)
print('Fraud',Fraud)
print('Not Fraud',NotFraud)
print('Total Claims',TotalClaims)
## Percentage of fraud claim
print('Fraud',(Fraud/TotalClaims)*100,'%')
print('Not Fraud',(NotFraud/TotalClaims)*100,'%')

Fraud 142
Not Fraud 1463
Total Claims 1605
Fraud 8.847352024922118 %
Not Fraud 91.15264797507788 %

In [6]:
## Checking the witness present and price more than 69000
X=customers[customers['VehiclePrice'] =='more than 69000']
X=X[X['WitnessPresent']=='Yes']['FraudFound_P'].values
Fraud=len(np.where(X==1)[0])
NotFraud=len(np.where(X==0)[0])
TotalClaims=len(X)
print('Fraud',Fraud)
print('Not Fraud',NotFraud)
print('Total Claims',TotalClaims)
## Percentage of fraud claim
print('Fraud',(Fraud/TotalClaims)*100,'%')
print('Not Fraud',(NotFraud/TotalClaims)*100,'%')

Fraud 0
Not Fraud 14
Total Claims 14
Fraud 0.0 %
Not Fraud 100.0 %

In [7]:
## Checking the police report present and price more than 69000
X=customers[customers['VehiclePrice'] =='more than 69000']
X=X[X['PoliceReportFiled']=='Yes']['FraudFound_P'].values
Fraud=len(np.where(X==1)[0])
NotFraud=len(np.where(X==0)[0])
TotalClaims=len(X)
print('Fraud',Fraud)
print('Not Fraud',NotFraud)
print('Total Claims',TotalClaims)
## Percentage of fraud claim
print('Fraud',(Fraud/TotalClaims)*100,'%')
print('Not Fraud',(NotFraud/TotalClaims)*100,'%')

Fraud 2
Not Fraud 45
Total Claims 47
Fraud 4.25531914893617 %
Not Fraud 95.74468085106383 %

In [9]:
X=customers[customers['VehiclePrice'] =='more than 69000']
X=X[X['BaseP']=='Yes']
X

,Month,WeekOfMonth,DayOfWeek,Make,AccidentArea,DayOfWeekClaimed,MonthClaimed,WeekOfMonthClaimed,Sex,MaritalStatus,...,AgeOfPolicyHolder,PoliceReportFiled,WitnessPresent,AgentType,NumberOfSuppliments,AddressChange_Claim,NumberOfCars,Year,BasePolicy,ClaimSize
1,Jan,3,Wednesday,Honda,Urban,Monday,Jan,4,Male,Single,...,31 to 35,Yes,No,External,none,no change,1 vehicle,1994,Collision,59294.455571
77,Jan,4,Friday,Ford,Urban,Monday,Feb,1,Female,Married,...,36 to 40,Yes,No,External,3 to 5,no change,1 vehicle,1994,All Perils,53404.029702
484,Aug,5,Monday,Toyota,Urban,Wednesday,Aug,5,Female,Married,...,36 to 40,Yes,No,External,1 to 2,no change,1 vehicle,1994,Collision,71010.054509
521,Oct,5,Friday,Pontiac,Urban,Monday,Oct,5,Male,Married,...,41 to 50,Yes,No,External,1 to 2,no change,1 vehicle,1994,All Perils,98235.435508
1174,Feb,4,Friday,Honda,Urban,Monday,Mar,4,Male,Single,...,16 to 17,Yes,No,External,none,no change,1 vehicle,1994,All Perils,62888.307996
1186,Dec,4,Thursday,Pontiac,Rural,Friday,Dec,4,Male,Married,...,36 to 40,Yes,No,External,more than 5,no change,1 vehicle,1994,Liability,50480.197643
1289,Oct,3,Thursday,Mazda,Urban,Friday,Oct,3,Male,Married,...,31 to 35,Yes,No,External,1 to 2,no change,1 vehicle,1994,Collision,50650.308539
1806,Oct,3,Thursday,Mazda,Urban,Wednesday,Oct,4,Male,Married,...,41 to 50,Yes,No,External,1 to 2,no change,1 vehicle,1994,All Perils,78743.079240
1844,Nov,3,Friday,Toyota,Urban,Monday,Nov,3,Female,Married,...,31 to 35,Yes,No,External,1 to 2,no change,1 vehicle,1994,Collision,93522.022646
1933,Aug,1,Saturday,Pontiac,Rural,Monday,Aug,2,Female,Single,...,31 to 35,Yes,Yes,External,none,no change,1 vehicle,1994,All Perils,51335.829060
2191,Nov,3,Friday,Accura,Urban,Friday,Dec,3,Male,Married,...,over 65,Yes,No,External,1 to 2,no change,1 vehicle,1994,All Perils,85872.397889
2494,Jan,3,Thursday,Honda,Urban,Monday,Jan,4,Male,Married,...,41 to 50,Yes,No,External,none,no change,1 vehicle,1994,Collision,89129.755188
2965,Mar,1,Wednesday,Accura,Urban,Thursday,Mar,1,Male,Married,...,31 to 35,Yes,No,External,none,no change,1 vehicle,1994,Liability,51707.840216
3657,Sep,2,Tuesday,Mercury,Urban,Friday,Sep,3,Male,Married,...,51 to 65,Yes,No,External,1 to 2,no change,1 vehicle,1994,All Perils,51208.187441
3863,Jun,2,Wednesday,Honda,Urban,Friday,Jun,2,Male,Single,...,31 to 35,Yes,No,External,more than 5,no change,1 vehicle,1994,Liability,52942.992707
3975,Feb,3,Monday,Honda,Rural,Friday,Mar,1,Male,Single,...,16 to 17,Yes,No,External,none,no change,1 vehicle,1994,Liability,82762.946896
4139,Apr,4,Monday,Chevrolet,Urban,Tuesday,Apr,4,Male,Married,...,36 to 40,Yes,No,External,1 to 2,no change,1 vehicle,1994,All Perils,58488.924392
4812,Dec,3,Friday,Mazda,Urban,Tuesday,Dec,3,Male,Married,...,36 to 40,Yes,No,External,none,no change,1 vehicle,1995,All Perils,59496.463260
5006,Dec,4,Friday,Accura,Urban,Friday,Dec,5,Female,Single,...,36 to 40,Yes,No,External,1 to 2,no change,1 vehicle,1995,Collision,64194.696352
5043,Jan,3,Friday,Mazda,Urban,Tuesday,Jan,5,Female,Single,...,36 to 40,Yes,No,External,none,no change,1 vehicle,1995,All Perils,56479.090657
5708,May,2,Wednesday,Honda,Rural,Friday,May,3,Male,Single,...,16 to 17,Yes,No,External,none,no change,1 vehicle,1995,Liability,62194.123254
5885,Nov,4,Sunday,Toyota,Urban,Tuesday,Nov,5,Female,Married,...,31 to 35,Yes,No,External,none,no change,1 vehicle,1995,Collision,69841.899484
5905,Mar,5,Tuesday,Mazda,Urban,Tuesday,Apr,1,Male,Single,...,31 to 35,Yes,No,External,1 to 2,no change,1 vehicle,1995,Collision,60942.271246
6215,Dec,5,Saturday,Chevrolet,Urban,Wednesday,Jan,1,Male,Single,...,31 to 35,Yes,No,External,none,no change,1 vehicle,1995,All Perils,56921.526401
6254,Jul,3,Saturday,VW,Urban,Tuesday,Oct,1,Male,Married,...,36 to 40,Yes,No,External,more than 5,4 to 8 years,2 vehicles,1995,All Perils,84577.134723
6322,Oct,2,Friday,Chevrolet,Urban,Tuesday,Oct,3,Male,Married,...,36 to 40,Yes,No,External,more than 5,no change,1 vehicle,1995,Collision,53404.029702
6773,Jan,1,Monday,Honda,Urban,Thursday,Feb,1,Female,Married,...,31 to 35,Yes,No,External,more than 5,no change,1 vehicle,1995,Collision,54340.812032
7059,Nov,4,Wednesday,Toyota,Urban,Friday,Nov,4,Male,Married,...,51 to 65,Yes,No,External,more than 5,no change,1 vehicle,1995,All Perils,71010.054509
7079,May,2,Sunday,Honda,Urban,Monday,May,2,Male,Single,...,16 to 17,Yes,No,External,none,no change,1 vehicle,1995,Collision,86532.671997
7154,Apr,3,Thursday,Honda,Urban,Thursday,Apr,1,Male,Single,...,16 to 17,Yes,No,External,none,no change,1 vehicle,1995,All Perils,90499.994114
7171,Dec,2,Monday,Honda,Urban,Wednesday,Dec,3,Male,Married,...,31 to 35,Yes,No,External,1 to 2,no change,1 vehicle,1995,Liability,55138.152689
7694,Oct,2,Monday,Accura,Urban,Friday,Oct,4,Male,Married,...,31 to 35,Yes,No,External,none,no change,1 vehicle,1995,All Perils,62194.123254
7774,Nov,2,Friday,Honda,Urban,Wednesday,Nov,4,Male,Single,...,16 to 17,Yes,No,External,none,no change,1 vehicle,1995,Liability,71717.745029
8190,Dec,4,Wednesday,Pontiac,Urban,Friday,Dec,4,Male,Married,...,31 to 35,Yes,No,External,1 to 2,no change,1 vehicle,1995,All Perils,59446.607985
8248,Jul,1,Tuesday,Mazda,Urban,Friday,Jul,2,Female,Married,...,41 to 50,Yes,No,External,3 to 5,no change,1 vehicle,1995,Collision,65677.761527
8376,Nov,4,Sunday,Honda,Urban,Monday,Nov,5,Male,Single,...,31 to 35,Yes,No,External,more than 5,no change,1 vehicle,1995,Liability,59446.607985
8824,Aug,5,Monday,Honda,Urban,Wednesday,Sep,5,Male,Married,...,41 to 50,Yes,Yes,External,none,no change,1 vehicle,1996,Collision,69029.591397
8909,Jun,1,Monday,Honda,Urban,Friday,Jun,3,Male,Single,...,31 to 35,Yes,No,External,3 to 5,no change,1 vehicle,1996,Collision,71329.949786
9361,Aug,1,Saturday,Honda,Rural,Thursday,Aug,3,Male,Married,...,31 to 35,Yes,No,External,more than 5,no change,1 vehicle,1996,Liability,69570.369429
9567,Nov,4,Wednesday,Chevrolet,Urban,Tuesday,Dec,1,Male,Married,...,36 to 40,Yes,No,External,3 to 5,no change,1 vehicle,1996,All Perils,73961.690795
10400,Mar,1,Sunday,Honda,Rural,Thursday,Mar,2,Male,Single,...,16 to 17,Yes,No,External,none,no change,1 vehicle,1996,Collision,69101.981954
10772,Jul,1,Monday,Honda,Urban,Tuesday,Jul,1,Male,Married,...,36 to 40,Yes,No,External,none,no change,1 vehicle,1996,Collision,59306.534597
10824,Apr,2,Monday,Accura,Urban,Wednesday,Apr,2,Male,Married,...,41 to 50,Yes,No,External,more than 5,no change,1 vehicle,1996,All Perils,55309.920735
10845,Dec,3,Thursday,Honda,Urban,Monday,Dec,3,Male,Married,...,36 to 40,Yes,No,External,none,no change,1 vehicle,1996,Collision,59496.463260
11082,Sep,4,Saturday,Mazda,Urban,Tuesday,Oct,1,Male,Single,...,31 to 35,Yes,No,External,1 to 2,no change,1 vehicle,1996,Collision,85555.916236
11089,Dec,2,Tuesday,Chevrolet,Urban,Wednesday,Dec,4,Male,Married,...,41 to 50,Yes,No,External,3 to 5,no change,1 vehicle,1996,All Perils,78329.309493
11438,Oct,4,Friday,Chevrolet,Urban,Monday,Oct,5,Female,Married,...,31 to 35,Yes,No,External,none,no change,1 vehicle,1996,All Perils,67101.082830

1605

Fraud 8.847352024922118 %
Not Fraud 91.15264797507788 %

In [8]:
customers['Make'].value_counts()

Pontiac      2899
Toyota       2317
Honda        2159
Mazda        1724
Chevrolet    1253
Accura        354
Ford          338
VW            220
Dodge          77
Saab           70
Mercury        68
Saturn         41
Nisson         22
BMW             9
Jaguar          5
Mecedes         3
Porche          3
Ferrari         2
Lexus           1
Name: Make, dtype: int64

In [ ]:
## Changing the dataset in numerical format

In [6]:
customers.shape

(11565, 34)

In [19]:
Y=customers['FraudFound_P'].values

In [22]:
del customers['FraudFound_P']

In [30]:
### Analysis the data

In [31]:
np.unique(customers['BasePolicy'])

array(['All Perils', 'Collision', 'Liability'], dtype=object)

In [27]:
np.unique(customers['AccidentArea'])

array(['Rural', 'Urban'], dtype=object)

In [28]:
np.unique(customers['MaritalStatus'])

array(['Divorced', 'Married', 'Single', 'Widow'], dtype=object)

In [29]:
np.unique(customers['Fault'])

array(['Policy Holder', 'Third Party'], dtype=object)

In [33]:
np.unique(customers['PolicyType'])

array(['Sedan - All Perils', 'Sedan - Collision', 'Sedan - Liability',
       'Sport - All Perils', 'Sport - Collision', 'Sport - Liability',
       'Utility - All Perils', 'Utility - Collision',
       'Utility - Liability'], dtype=object)

In [34]:
np.unique(customers['VehicleCategory'])

array(['Sedan', 'Sport', 'Utility'], dtype=object)

In [37]:
np.unique(customers['VehiclePrice'])

array(['20000 to 29000', '30000 to 39000', '40000 to 59000',
       '60000 to 69000', 'less than 20000', 'more than 69000'],
      dtype=object)

In [43]:
np.unique(customers['RepNumber'])

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16])

In [44]:
np.unique(customers['Deductible'])

array([300, 400, 500, 700])

In [45]:
np.unique(customers['DriverRating'])

array([ 1.,  2.,  3.,  4., nan, nan, nan, nan, nan, nan])

In [46]:
np.unique(customers['Days_Policy_Accident'])

array(['1 to 7', '15 to 30', '8 to 15', 'more than 30', 'none'],
      dtype=object)

In [48]:
np.unique(customers['Days_Policy_Claim'])

array(['15 to 30', '8 to 15', 'more than 30', 'none'], dtype=object)

In [50]:
customers['PastNumberOfClaims'].value_counts()

2 to 4         4140
none           3286
1              2675
more than 4    1464
Name: PastNumberOfClaims, dtype: int64

In [51]:
customers['AgeOfVehicle'].value_counts()

7 years        4388
more than 7    2993
6 years        2581
5 years         990
new             285
4 years         176
3 years         100
2 years          52
Name: AgeOfVehicle, dtype: int64

In [52]:
customers['AgeOfPolicyHolder'].value_counts()

31 to 35    4199
36 to 40    3008
41 to 50    2122
51 to 65    1070
26 to 30     445
over 65      388
16 to 17     247
21 to 25      73
18 to 20      13
Name: AgeOfPolicyHolder, dtype: int64

In [54]:
customers['PoliceReportFiled'].value_counts()

No     11235
Yes      330
Name: PoliceReportFiled, dtype: int64

In [55]:
customers['WitnessPresent'].value_counts()

No     11497
Yes       68
Name: WitnessPresent, dtype: int64

In [56]:
customers['AgentType'].value_counts()

External    11394
Internal      171
Name: AgentType, dtype: int64

In [57]:
customers['NumberOfSuppliments'].value_counts()

none           5330
more than 5    2875
1 to 2         1846
3 to 5         1514
Name: NumberOfSuppliments, dtype: int64

In [58]:
customers['AddressChange_Claim'].value_counts()

no change         10715
4 to 8 years        496
2 to 3 years        222
1 year              128
under 6 months        4
Name: AddressChange_Claim, dtype: int64

In [59]:
customers['NumberOfCars'].value_counts()

1 vehicle      10698
2 vehicles       559
3 to 4           288
5 to 8            19
more than 8        1
Name: NumberOfCars, dtype: int64

In [60]:
customers['Year'].value_counts()

1994    4596
1995    3923
1996    3046
Name: Year, dtype: int64

In [ ]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,random_state=0)